html, body{
    
    overflow: hidden;
}
div#weatherCards {
    justify-content: center;
    margin: 0;
    padding: 0;
   
       
}

.card {
    border: 1px  solid black;
    box-shadow: 1px 3px  black;
    
}
.card.mb-3 {
    background-color: lightslategray;
    align-items: center;
    margin:0px;
    padding: 0px;
    
    
}
.card-body {
    background-color: lightslategray;
}