html, body{
    background-image: linear-gradient(to right bottom, #e5cdc1, #e6cabe, #e7c7bc, #e8c3ba, #e9c0b8);
}
div#weatherCards {
    justify-content: center;
       
}
.card-body.card.mb-3.card {
background-color:lightgrey

}
.card {
    border: 3px  solid black;
}
.card.mb-3 {
    justify-content: center;
    align-items: center;
    margin:5px;
    padding: 5px;
    background: lightslategray;
    
}